---
import * as HOST from "~/utils/host";

import "~/styles/globals.css";

type Props = {
  title?: string;
  description?: string;
  url?: string;
  image?: string;
};

const TITLE_DEFAULT = "Regions of Indonesia";
const DESCRIPTION_DEFAULT = "Regions of Indonesia";
const URL_DEFAULT = HOST.SITE();
const IMAGE_DEFAULT = HOST.SITE("image.png");

const { title = TITLE_DEFAULT, description = DESCRIPTION_DEFAULT, url = URL_DEFAULT, image = IMAGE_DEFAULT } = Astro.props;
---

<html data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{title}</title>
    <meta name="description" content={description} />

    <link rel="icon" type="image/x-icon" href={HOST.SITE("favicon.ico")} />

    <meta property="og:type" content="website" />
    <meta property="og:url" content={url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={image} />

    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body>
    <slot />
  </body>
</html>
